name: Publish Docker Image

on:
  workflow_dispatch:
    inputs:
      vm_id:
        description: "The ID of the VM (binary dst in Docker image)"
        default: ""
        required: false
        type: string
      lux_version:
        description: "The SHA or tag of luxd to use for the base image (must be compatible with the version in go.mod)"
        default: ""
        required: false
        type: string
      allow_tag_latest:
        description: "Whether or not allowing to tag the image created as latest (only works for master branch)"
        default: false
        required: false
        type: boolean

  push:
    tags:
      - "*"
    branches:
      - master

jobs:
  publish_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 #v3.7.0
      - uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 #v3.10.0
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Build and publish images to DockerHub
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
          IMAGE_NAME: "luxfi/evm"
          VM_ID: ${{ inputs.vm_id }}
          PUBLISH: 1
          PLATFORMS: "linux/amd64,linux/arm64"
          LUX_VERSION: ${{ inputs.lux_version }}
          ALLOW_TAG_LATEST: ${{ github.event_name != 'workflow_dispatch' || inputs.allow_tag_latest }}
        run: scripts/build_docker_image.sh
